<div class="username-overlay">
    <div class="d-flex w-100 h-100 align-items-center justify-content-center">
        <input
        [(ngModel)]="username"
        placeholder="Nutzernamen wählen"
        class="col-6 form-control rounded-pill mat-elevation-z2 border-none"
        (keyup.enter)="setUsername(username)"
        >
        <button type="submit" class="input-button mat-elevation-z2 rounded-circle d-flex align-items-center justify-content-center ml-2">
            <mat-icon aria-hidden="false" aria-label="Send" (click)="setUsername(username)">check</mat-icon>
        </button>
    </div>
</div>
