img{
    max-height:80%;
}

mat-toolbar{
    background-color: white;
    height: 80px;
    overflow: hidden;
    z-index: 50;
}

mat-toolbar.admin{
    background-color: #434343;
}

mat-toolbar a{
    color: black
}

mat-toolbar.admin a{
    color: white;
}