.input-field{
    height: 80px;
    color: white;
    position: relative;
    bottom: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-button{
    width: 40px;
    /*max-width: 575.98px; */
    height: 40px;
    background-color: var(--primary);
    border: none;
    color: white;
}