.input-field{
    height: 80px;
    color: white;
    position: relative;
    bottom: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-field.admin{
    background-color: #434343;
}

.admin input,
.admin input:focus{
    background-color: black;
    color: white;
    border: none;
}

.input-button{
    width: 40px;
    height: 40px;
    background-color: var(--primary);
    border: none;
    color: white;
}