<ng-template #authModal let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title mb-0">Authorisierung benötigt</h2>
        </div>
        <div class="modal-body">
            <p class="my-1">Sollen wirklich alle Nachrichten gelöscht werden?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="modal.close('Delete click')">Löschen</button>
            <button type="button" class="btn btn-secondary" (click)="modal.close('Cancel click')">Abbrechen</button>
        </div>
    </div>
</ng-template>

<div class="sidebar mat-elevation-z6" [ngClass]="{'hidden' : display == false, 'admin': adminService.showAdminTheme}">
    <div class="inner w-100 h-100 px-3 pb-3 d-flex flex-column">
        <div class="d-flex align-items-center head w-100">
            <div *ngIf="usernameService.person.username" class="mr-auto username">
                <span>Nutzername: <br><span [ngStyle]="{'color': usernameService.person.color}" [innerHTML]="usernameService.getSlicedUsername(usernameService.person.username, 25)"></span></span>
            </div>
        
            <a href="javascript:void(0);" class="ml-auto" (click)="toggleSidebar()">
                <mat-icon aria-hidden="false" aria-label="Close">close</mat-icon>
            </a>
        </div>
        
        <hr class="ruler top">
    
        <div class="username-list">
            <span class="mb-2" style="color: gray;">Benutzer online</span>

            <span class="online-user mb-2" [ngStyle]="{'color': user.color}" *ngFor="let user of usernameService.online; let i = index">
                {{user.username}}
            </span>
        </div>

        <hr class="ruler bottom">

        <a *ngIf="usernameService.person.id != -1 && adminService.loggedIn == false" href="javascript:void(0);" class="btn btn-secondary login-link mt-auto w-100" (click)="openLogin()">
            Admin Login
        </a>

        <a *ngIf="adminService.loggedIn == true" href="javascript:void(0);" class="btn btn-danger login-link mt-auto w-100" (click)="openDeletionModal(authModal)">
            Chat löschen
        </a>
    </div>
</div>
