:host(app-main){
    height: calc(100% - 185px);
    max-width: 100%;
}

main{
    background-color: var(--transparent-green-1);
    height: 100%;
    overflow-y: scroll;
}

.chatverlauf {
    min-height: 100%;
}

.single-message {
    background-color: var(--supergreen);
    flex-basis: 0;
}

.single-message.white {
    background-color: #FFFFFF;
}

.single-message .username {
    font-weight: 500;
}

.header{
    font-size: 85%;
    font-weight: 300;
    color: var(--gray70);
}

.content{
    font-size: 115%;
}